body{
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header{
    width: 50%;
    height: 70px;
    padding: 10px 60%;
    background-color: #DFF2EB;
    position: fixed;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.384);
    top: 0;
}
.logo-what{
    height: 88px;
    margin-left: 93%;
    position: fixed;
    margin-top: 42%;
    cursor: pointer;
}

.logo{
    justify-content: center;
    align-items: center;
    color: #7AB2D3;
    font-weight: bold;
    position: absolute;left: 52px;
    font-size: 50px; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    
}
.logo:hover{
    color: rgb(204, 202, 202);
    text-decoration: underline;
}
.nav-link{
    
    justify-content: center;
    align-items: center;
    padding: 2px 1%;
    font-family: Arial, Helvetica, sans-serif;
    color:#7AB2D3;
    font-size: 17px;
    text-decoration: none;
}
/*cuando pones el cursor en el link*/
.nav-link:hover{
    color: rgb(255, 255, 255);
    text-decoration:  underline;
}