main {
    margin-top: 10%;
   
}
.container{
    background-color: #074e72b2;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    border-radius: 25px;
    padding: 1.2%;
}
.tileForm{
    color: White;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
    padding: 0;
    
}
.tileForm p{
    font-size: 15px;
    font-weight: lighter;
}

form h2{
    margin-top: 2%;
    font-family: Arial;
    color: White;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 25%;
}
/*inputs*/
.input-nombre, .input-descripcion,.input-cantidad,.input-frecuencia,.input-dosis{
    width: 50%;
    padding: 5px;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.botonCrear{
    margin-left: 0%;
    width: 50%;
    margin-top: 5%;
    background-color: #4CAF50; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 16px;          
    transition: transform 0.3s, background-color 0.3s; 
}
.botonCrear:hover{
    background-color: #45a049; 
    transform: scale(1.01); 
}
